* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: ;
    --main-color-alt: ;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Josefin Sans", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-title{
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    color: black;
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
}
.main-title::before,
.main-title::after{
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.main-title::before{
    background-color: #508c9b;
    width: 300px;
}
.main-title::after{
    background-color: white;
    width: 150px;
}
/* start header */
.header{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(112, 114, 116, 0.325);
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header nav .toggle-menu{
    color: white;
    font-size: 30px;
}
@media (min-width:768px){
    .header nav .toggle-menu{
        display: none;
    }
}
.header nav ul{
    display: flex;
}
@media(max-width:767px){
    .header nav ul{
        display: none;
    }
}
.header nav .toggle-menu:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
}
.header nav .toggle-menu:hover + ul li{
    border-bottom: 1px solid white;
    background-color: #508c9b;
}
.header nav ul li a{
    padding: 40px !important;
}
.header nav ul li a{
    padding: 40px 40px;
    display: block;
    color: white;
    font-size: 16px;
    transition: var(--main-transition);
    -webkit-transition: 0.4;
    -moz-transition: 0.4;
    -ms-transition: 0.4;
    -o-transition: 0.4;
    position: relative;
    z-index: 1;
}
.header nav ul li a:hover{
    color: #68b9ce;

}
.header .form{
    color: white;
    padding: 10px 10px;
    font-size: 30px;
    width: fit-content;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #508c9b;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media(max-width:1120px){
    .header .form{
        display: none;
    }
}
.header .form i{
    padding: 0 10px;
}
.header .container .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .container .logo i{
    color: white;
}
.header .container .logo h3{
    color: rgb(240, 233, 233);
    width: fit-content;
    font-weight: bold;
    background-color: #7bb7e9;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    padding: 15px 10px;
    /* margin-right: 10px; */
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .container .logo h3:hover{
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}
/* end header */
/* start landing */
.landing{
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/game1.");
    background-size: cover;
    position: relative;
    animation: change 20s linear infinite;
    -webkit-animation: change 20s ease infinite;
}
.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 50%);
}
.landing .container .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.landing .container .text h2{
    color: rgb(105, 102, 233);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
    animation: loading 0.85s ease-in-out infinite alternate;
    -webkit-animation: loading 0.85s ease-in-out infinite alternate;
}

.landing .container .text p{
    color: rgb(218, 148, 218);
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
@media(max-width:767px){
    .landing .container .text p{
        font-size: 20px;
    }
}
.landing .text .button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing .text .box2{
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    bottom: -120px;
    background-color: white;
    font-size: 20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding: 15px 15px;
    border: 2px solid #508c9b;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing .text .box2:hover{
    background-color: #b8b1b1;
 
}
@media(max-width:767px){
    .landing .text .button{
        flex-direction: column;
    }
    .landing .text .box2{
        display: none;
    }
    .landing .text .box{
        display: none;
    }
}
.landing .text .box2 a{
    color: #508c9b;
    font-weight: bold;
}
.landing .text .box2 i{
    font-weight: bold;
    font-size: 25px;
}
.landing .text .box{
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    bottom: -120px;
    background-color: white;
    font-size: 20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding: 15px 15px;
    border: 2px solid #508c9b;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing .text .box:hover{
    background-color: #b3d4eb;
  
}
.landing .text .box a{
    color: #508c9b;
    font-weight: bold;
}
.landing .text .box i{
    font-weight: bold;
    font-size: 25px;

}
.landing .container .text form{
    position: relative;
    margin-top: 35px;
}
.landing .container .text form .input[type="search"]{
    padding: 20px 400px 20px 50px;
    border-radius: 30px;
    width: 100%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    outline: none;
    border: none ;
    background: rgba(255, 255, 255, 0.654);
    width: calc(100% - 130px);
    
}
@media(max-width:1125px){
    .landing .container .text form .input[type="search"]{
            padding: 10px 300px 10px 25px;
    }
    .landing .container .text form  input[type="submit"]{
        display: none;
    }
    .landing .container .text form i{
        display: none;
    }
}
.landing .container .text form  input[type="submit"]{
    color: white;
    padding: 20px 20px 20px;
    background-color: #508c9b;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    right: 120px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.landing .container .text form i{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 35px;
    bottom: -10px;
    font-weight: bold;
    font-size: 17px;
}
/* end landing */
/* start games */
.games{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #eeeeee;
}
.games ul{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.games ul li{
    padding: 10px;
    font-size: 20px;
    width: fit-content;
    color: #508c9b;
    border-radius: 25px;
    background-color: #eeeeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition:var(--main-transition) ;
    -webkit-transition:var(--main-transition) ;
    -moz-transition:var(--main-transition) ;
    -ms-transition:var(--main-transition) ;
    -o-transition:var(--main-transition) ;
    cursor: pointer;
}
.games ul li.active{
    background-color: #508c9b;
    color: white;
}
.games ul li:hover{
    background-color: #508c9b;
    color: white;
}
.games .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.games .container .box{
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 15px black;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.games .container .box:hover{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.games .box .text{
    padding: 20px;
}
.games .box .text h3{
    margin: 0;
    color: #508c9b;
}
.games .box .text .rate{
    margin-top: 25px;
    margin-bottom: 10px;
}
.games .box .text .rate:not(:last-child){
    color: gold;
}
.games .box .text .info{
    padding: 20px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.199);
}
.games .box .text .info a{
    width: fit-content;
    padding: 8px 8px;
    background-color: #508c9b;
    color: white;
    font-weight: bold;
    margin-left: -30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.games .box .text .info i{
    font-size: 25px;
    margin-right: -30px;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.games .box .text .info i:hover{
    color: #508c9b;
}
.games .container img{
    max-width: 100%;
    width: 100%;
}
.games .main-title {
    color: #4b4b4e;
}

/* end games */
/* start video */
.videos{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.videos ul{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.videos ul li{
    padding: 10px;
    font-size: 20px;
    width: fit-content;
    color: #508c9b;
    border-radius: 25px;
    background-color: #eeeeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition:var(--main-transition) ;
    -webkit-transition:var(--main-transition) ;
    -moz-transition:var(--main-transition) ;
    -ms-transition:var(--main-transition) ;
    -o-transition:var(--main-transition) ;
    cursor: pointer;
}
.videos ul li.active{
    background-color: #508c9b;
    color: white;
}
.videos ul li:hover{
    background-color: #508c9b;
    color: white;
}
.videos .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
    gap: 50px;
}
.videos .container video{
    max-width: 100%;
    width: 600px;
    height: 300px;
    box-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
}
/* end video */
/* start community */
.community{
        padding-top: var(--main-padding-top);
        padding-bottom: var(--main-padding-bottom);
        background-color: #eeeeee;
}
.community .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
        grid-gap:40px;
        row-gap: 70px;
}
.community .container .box{
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
}
.community .container .box img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
.community .container .box h3{
    font-weight: bold;
    color: #508c9b;
    padding: 0 0 10px;
}
.community .container .box p{
    line-height: 1.5;
    color: #777;
}
.community .container .box .rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.community .container .box .rate .filled{
    color: gold;
}
.community .container .box .rate .like{
    font-weight: bold;
    font-size: 20px;
}
.community .container .box .rate .like i{
    padding: 5px;
}
.community .container .box .rate .like i:hover{
    color: #508c9b;
}

/* end community */



/* start footer */
.footer{
    background-color: black; 
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    color: white;
    text-align: center;
} 
.footer img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: bounce 0.59 linear infinite;
    -webkit-animation: bounce 0.59 linear infinite;
}
.footer .container h2{
    font-weight: bold;
    font-size: 30px;
}
.footer .container .social-icons{
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
}
.footer .container .social-icons i{
    padding: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .container .social-icons i:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.footer .container p{
    font-weight: bold;
}
.footer .container span{
    color: #508c9b;
    cursor: pointer;
}
/* end footer */
/* start animation */
@keyframes loading{
    to{
        text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(255, 255, 255, 0), 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(255, 255, 255, 0), 0 0 0px rgba(255, 255, 255, 0); ;
    }
}
@keyframes change {
    0% ,100%{
        background-image: url(../images/game\ 1.jpg);
    }
    50%{
        /* background-image: url(../images/game\ 2.jpg); */
    }
}
@keyframes bounce {
    0% , 100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    50%{
        transform: translateY(-30deg);
        -webkit-transform: translateY(-30deg);
        -moz-transform: translateY(-30deg);
        -ms-transform: translateY(-30deg);
        -o-transform: translateY(-30deg);
}
}
/* end animation */